/* Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Styling på <body> */
body {
    font-family: Lato, sans-serif;
    background-color: white;
    color: white;
    font-weight: 300;
}

/* Styling för navbaren längst upp och alla objekt inom */
.header-container {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    background: rgb(24, 26, 27);
    z-index: 1;
}

/* Styling för alla objekt inom header-container */
.logo-title {
    display: flex;
    align-items: center; /* Sätter alla objekt på samma höjd */
}

/* Styling för loggan */
.logo {
  display: inline-block;
  max-height: 56px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
}

/* Styling för företagets namn "MatAvtryck UF" */
.site-title {
  display: inline-block;
  line-height: 1;
  max-width: 380px;
  outline: none;
  overflow: hidden;
  padding: 16px 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  color: rgba(255,255,255,1);
  font-size: 15pt;
}

/* Styling för själva bannern */
.banner {
    background-image: url('banner.png'); /* bakgrundsbilden */
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    height: 340px;
}

/* Styling för banner-texten */
.banner-text {
    font-size: 64pt;
    color: white;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 300;
}

/* Placeringen för restaurangerna */
.restaurant-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

/* Hover Effect för restaurangbilder och text */
.restaurant {
    text-align: center;
}

.restaurant img {
    width: 199px;
    height: 199px;
    object-fit: contain;
}

.restaurant p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: black;
    transition: color 0.3s ease;
}

.restaurant:hover p {
    color: #5bbad5;
}

/* Hamburger Animation */
.hamburger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 15px;
    transition: all 0.3s ease;
}

/* Styling för strecken i hamburgarmenyn */
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  /* Styling för ändring av första strecket */
  .change .bar1 {
    transform: translate(0, 5px) rotate(-45deg);
  }
  
  /* Styling för ändring av andra strecket */
  .change .bar2 {opacity: 0;}
  
  /* Styling för ändring av tredje strecket */
  .change .bar3 {
    transform: translate(0, -5px) rotate(45deg);
  }


/* Styling för dropdown menyn */
.menu-list {
    display: none; /* Dölj menyn */
    position: absolute;
    top: 55px; 
    right: 15px; 
    background-color: rgb(24, 26, 27); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Skugga */
    list-style-type: none; /* Ta bort punkterna */
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px; /* Rundade hörn */
    font-size: 12pt;
}

/* När menyn visas */
.menu-list.show {
    display: grid; /* Visa menyn */
    grid-template-columns: repeat(2, 1fr);
}

/* Styling för varje menyalternativ */
.menu-list li {
    margin: 10px 0; /* Avstånd mellan alternativen */
}

/* Styling för länkarna i menyn */
.menu-list li a {
    text-decoration: none; /* Ta bort understrykning */
    color: white; /* Textfärg */
    font-weight: 300; 
    padding: 5px; /* Inre avstånd */
    display: block; /* Gör hela ytan klickbar */
    background-color: rgb(49, 48, 48);
    width: 95%;
}

/* Hover-effekt för länkar */
.menu-list li a:hover {
    background-color: #373636; /* Bakgrundsfärg vid hover */
    border-radius: 3px; /* Rundade hörn vid hover */
}

/* Minimalistisk sökruta med genomskinlig bakgrund */
.searchbar input[type=text] {
    width: 30%;
    font-size: 15pt;
    margin: 50px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #5bbad5;
    border-right: 2px solid #5bbad5;
    background-color: rgba(200, 200, 200, 0.2);
    outline: none;
    color: #f1f1f1;
}

/* Placeholder texten "Sök efter restauranger" i sökrutan */
.searchbar input[type=text]::placeholder {
    color: white;
    opacity: 1;
}

/* Styling på vad som händer när sökrutan blir i fokus */
.searchbar input[type=text]:focus {
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    background-color: rgba(200, 200, 200, 0.4);
}


/* Media Queries för mobilanpassning */
@media (max-width: 768px) {
    
    .banner-text {
        font-size: 36pt;
    }

    .banner {
        height: 300px;
    }

    .restaurant-grid {
        gap: 15px;
        flex-direction: column;
        padding: 10px;
    }

    .restaurant img {
        width: 140px;
        height: 140px;
        margin-top: 5px;
        transition: none;
    }

    .restaurant p {
        font-size: 36pt;
    }

    .restaurant {
        text-align: center;
        transition: none;
    }

    .site-title {
        font-size: 15pt;
    }

    /* Styling för dropdown menyn */
    .menu-list {
        display: none; /* Dölj menyn */
        position: absolute;
        top: 60px; 
        right: 15px; 
        background-color: rgb(24, 26, 27); 
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Skugga */
        list-style-type: none; /* Ta bort punkterna */
        padding: 5px;
        border-radius: 5px; /* Rundade hörn */
        font-size: 10pt;
    }

    /* När menyn visas */
    .menu-list.show {
        display: grid; /* Visa menyn */
        grid-template-columns: repeat(2, 1fr);
    }

    /* Styling för varje menyalternativ */
    .menu-list li {
        margin: 10px 0; /* Avstånd mellan alternativen */
    }

    /* Styling för länkarna i menyn */
    .menu-list li a {
        text-decoration: none; /* Ta bort understrykning */
        color: white; /* Textfärg */
        font-weight: 300; 
        padding: 5px; /* Inre avstånd */
        display: block; /* Gör hela ytan klickbar */
    }

    /* Hover-effekt för länkar */
    .menu-list li a:hover {
        background-color: #373636; /* Bakgrundsfärg vid hover */
        border-radius: 3px; /* Rundade hörn vid hover */
    }

    /* Minimalistisk sökruta med genomskinlig bakgrund */
    .searchbar input[type=text] {
        width: 60%;
        font-size: 15pt;
        margin: 50px;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #5bbad5;
        border-right: 2px solid #5bbad5;
        background-color: transparent;
        outline: none;
        color: white;
    }




}
